.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  gap: 162px;
  margin-bottom: 69px;
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 0) 1.47%,
    rgba(163, 210, 155, 0.92) 7.25%,
    #319f1c 14.68%,
    #309e1b 50.68%,
    #319f1c 84.33%,
    rgba(147, 202, 137, 0.79) 91.68%,
    rgba(246, 246, 246, 0) 99.05%
  );
  border-radius: 3px;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  svg {
    color: #ffffff;
    cursor: pointer;
  }
}
.item {
  font-weight: 500;
  color: #ffffff;
  line-height: 19px;
}
